
*.i

.hg/store/fncache

.hg/store/phaseroots

.hg/store/undo

*.phaseroots

*.bookmarks

*.branch

*.desc

*.dirstate

.hg/cache/branchheads

.hg/cache/tags

.hg/dirstate

.hg/last-message.txt

.hg/requires

.hg/sourcetreeconfig

bin/AndroidManifest.xml

*.class

*.apk

*.dex

*.jar
